* {
    box-sizing: border-box;
}

.body {
    background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);
    /* width: 850px; */
    width: 900px;
    /* margin: auto; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc; /* Optional border */
    text-align: center; /* Center text horizontally */
    padding: 20px; /* Optional padding */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
.row-2 {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
    justify-content: space-evenly;
}

.player-name-inpt {

}

.score-div {
    /* height: 30px; */
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.row-2-col {
    display: flex;
    flex-direction: column;
    width: 241px;
}

.middle-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.middle-div button {
    /* background: none;
    border: none;
    color: black;
    font-size: 18px; */
        display: flex;
    align-items: center;
    /* font-size: 18px; */
    font-size: 30px;
    background: none;
    border: none;
    color: #5612c3;
    /* padding: 8px; */
    /* border-radius: 20px;*/
}

#refresh-icon {
    color: #5612c3;
}